* {
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    background: #333;
}
main {
    margin: 20px auto;
    padding: 20px;
    background: #222;
    width: 80vw;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.img {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.img img,canvas {
    max-width: 45vw;
    max-height: 60vh;
}
.upload input {
    display: none;
}
.upload label {
    color: #fff;
    padding: 8px 20px;
    border: 2px #fff dashed;
    cursor: pointer;
}
.filters ul,.filters ul li {
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* direction: rtl; */ /* writing right to left */
}
.filters ul li label {
    color: #fff;
}
.filters ul li:last-child {
    flex-direction: row;
    justify-content: space-around;
}
.filters ul li a,span {
    color: #fff;
    background: #060;
    padding: 10px 20px;
    cursor: pointer;
}
@media screen and (max-width:650px) {
    main {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .img img, canvas {
        max-width: 80vw;
    }
}